<section class="section group">
  <div class="card-container card-group">
    <div class="card-container-body"> 
	  <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/19.png" />
          </div>
          <div class="card-content">
            <h3>Памятники Александру II в Валуйском уезде</h3>
          </div>
		  <div class="card-actions">
            <a href="alexandreii">Читать</a>       
          </div>
        </div>
      </div>
	  <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/10.jpg" />
          </div>
          <div class="card-content">
            <h3>Церковь в стиле украинского барокко</h3>
          </div>
		  <div class="card-actions">
            <a href="/docs/ukraine/ukrtemple">Читать</a>       
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/42.jpg" />
          </div>
          <div class="card-content">
            <h3>Николаевская церковь села Большие Липяги</h3>
          </div>
		  <div class="card-actions">
            <a href="sobor">Читать</a>       
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
