<section class="section group">
  <div class="card-container card-group">
    <div class="card-container-body"> 
      <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/66.jpg" />
          </div>
          <div class="card-content">
            <h3>«Обер­нувшись, я уви­дел, как го­рела тол­па»</h3>
          </div>
		  <div class="card-actions">
            <a href="rybalov">Читать</a>       
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/69.jpg" />
          </div>
          <div class="card-content">
            <h3>Аэрофотоснимок Бутырок 1943 года</h3>
          </div>
		  <div class="card-actions">
            <a href="map1943">Читать</a>       
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/26.jpg" />
          </div>
          <div class="card-content">
            <h3>Этап смерти</h3>
          </div>
		  <div class="card-actions">
            <a href="etap">Читать</a>       
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/47.jpg" />
          </div>
          <div class="card-content">
            <h3>Жертвы Советов</h3>
          </div>
		  <div class="card-actions">
            <a href="victims">Читать</a>       
          </div>
        </div>
      </div>	  	  
	  <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/27.jpg" />
          </div>
          <div class="card-content">
            <h3>Из пламени, из забвения</h3>
          </div>
		  <div class="card-actions">
            <a href="plamya">Читать</a>       
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/56.jpg" />
          </div>
          <div class="card-content">
            <h3>Людей сожгли на хуторе Бутырки</h3>
          </div>
		  <div class="card-actions">
            <a href="memories">Читать</a>       
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
