<section class="section group">
  <div class="card-container card-group">
    <div class="card-container-body">  
      <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/22.jpg" />
          </div>
          <div class="card-content">
            <h3>Черкасы в Валуйках в первой половине XVII века</h3>
          </div>
		  <div class="card-actions">
            <a href="tsherkases">Читать</a>       
          </div>
        </div>
      </div>
	  <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/ukraine/nadzor.jpg" />
          </div>
          <div class="card-content">
            <h3>Таможенный надзор при гетмане Скоропадском</h3>
          </div>
		  <div class="card-actions">
            <a href="nadzor">Читать</a>       
          </div>
        </div>
      </div> 
	  <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/29.jpg" />
          </div>
          <div class="card-content">
            <h3>«Этническая революция» 1930-х годов (часть I)</h3>
          </div>
		  <div class="card-actions">
            <a href="etnrevolution">Читать</a>       
          </div>
        </div>
      </div>
	  <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/30.jpg" />
          </div>
          <div class="card-content">
            <h3>«Этническая революция» 1930-х годов (часть II)</h3>
          </div>
		  <div class="card-actions">
            <a href="etnrevolution1">Читать</a>       
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
