<section class="section group">
  <div class="card-container card-group">
    <div class="card-container-body"> 
      <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/28.jpg" />
          </div>
          <div class="card-content">
            <h3>Съезд земских деятелей 6-9 ноября 1904 года в Петербурге</h3>
          </div>
		  <div class="card-actions">
            <a href="byl">Читать</a>       
          </div>
        </div>
      </div>
    </div>
  </div>
</section>