<section class="section group">
  <div class="card-container card-group">
    <div class="card-container-body"> 
    
      <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/61.jpg" />
          </div>
          <div class="card-content">
            <h3>Базилевич Петр Алексеевич</h3>
          </div>
		  <div class="card-actions">
            <a href="bazilevitsh">Справка</a>       
          </div>
        </div>
      </div>    
      
            <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/verbitsky1.jpg" />
          </div>
          <div class="card-content">
            <h3>Вербицкий Максим Иванович</h3>
          </div>
		  <div class="card-actions">
            <a href="verbitsky">Справка</a>       
          </div>
        </div>
      </div>          
      
            <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/garkavenko1.jpg" />
          </div>
          <div class="card-content">
            <h3>Гаркавенко Иосиф Семенович</h3>
          </div>
		  <div class="card-actions">
            <a href="garkavenko">Справка</a>       
          </div>
        </div>
      </div>          
      
            <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/25.jpg" />
          </div>
          <div class="card-content">
            <h3>Гаук-Круглова Эмма Карловна</h3>
          </div>
		  <div class="card-actions">
            <a href="gauk">Справка</a>       
          </div>
        </div>
      </div>          
      
            <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/gordeev1.jpg" />
          </div>
          <div class="card-content">
            <h3>Гордеев Иван Григорьевич</h3>
          </div>
		  <div class="card-actions">
            <a href="gordeev">Справка</a>       
          </div>
        </div>
      </div>          
      
      <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/62.jpg" />
          </div>
          <div class="card-content">
            <h3>Двукраев Михаил Арсеньевич</h3>
          </div>
		  <div class="card-actions">
            <a href="dvukraev">Справка</a>       
          </div>
        </div>
      </div>          
      
      <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/37.jpg" />
          </div>
          <div class="card-content">
            <h3>Довбня Александр Евтихиевич</h3>
          </div>
		  <div class="card-actions">
            <a href="dovbnya">Справка</a>       
          </div>
        </div>
      </div>
      
      <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/40.jpg" />
          </div>
          <div class="card-content">
            <h3>Иванов Яков Дмитриевич</h3>
          </div>
		  <div class="card-actions">
            <a href="ivanov">Справка</a>       
          </div>
        </div>
      </div>
      
	  <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/23.jpg" />
          </div>
          <div class="card-content">
            <h3>Козлов Владимир Никитович</h3>
          </div>
		  <div class="card-actions">
            <a href="kozlov">Справка</a>       
          </div>
        </div>
      </div>
      
            <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/25.jpg" />
          </div>
          <div class="card-content">
            <h3>Козловская Вильгельмина Генриховна</h3>
          </div>
		  <div class="card-actions">
            <a href="kozlovskaya">Справка</a>       
          </div>
        </div>
      </div>          
      
      <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/24.jpg" />
          </div>
          <div class="card-content">
            <h3>Куропатов Алексей Францевич</h3>
          </div>
		  <div class="card-actions">
            <a href="kuropatov">Справка</a>       
          </div>
        </div>
      </div>
      
            <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/merkel1.jpg" />
          </div>
          <div class="card-content">
            <h3>Меркель Ольга Александровна</h3>
          </div>
		  <div class="card-actions">
            <a href="merkel">Справка</a>       
          </div>
        </div>
      </div>          
      
            <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/mikolait1.jpg" />
          </div>
          <div class="card-content">
            <h3>Миколайт Альберт Карлович</h3>
          </div>
		  <div class="card-actions">
            <a href="mikolait">Справка</a>       
          </div>
        </div>
      </div>          
      
      <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/60.jpg" />
          </div>
          <div class="card-content">
            <h3>Монт Самуил Абрамович</h3>
          </div>
		  <div class="card-actions">
            <a href="mont">Справка</a>       
          </div>
        </div>
      </div>  
      
            <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/25.jpg" />
          </div>
          <div class="card-content">
            <h3>Никулин Михаил Иванович</h3>
          </div>
		  <div class="card-actions">
            <a href="nikulin">Справка</a>       
          </div>
        </div>
      </div>          
      
            <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/osmukha1.jpg" />
          </div>
          <div class="card-content">
            <h3>Осьмуха Анна Ивановна</h3>
          </div>
		  <div class="card-actions">
            <a href="osmukha">Справка</a>       
          </div>
        </div>
      </div>          
      
            <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/patriarca1.jpg" />
          </div>
          <div class="card-content">
            <h3>Патриарка Евгений Владимирович</h3>
          </div>
		  <div class="card-actions">
            <a href="patriarca">Справка</a>       
          </div>
        </div>
      </div>          
      
            <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/popov1.jpg" />
          </div>
          <div class="card-content">
            <h3>Попов Николай Иванович</h3>
          </div>
		  <div class="card-actions">
            <a href="popov">Справка</a>       
          </div>
        </div>
      </div>          
      
      <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/55.png" />
          </div>
          <div class="card-content">
            <h3>Романенко Владимир Федорович</h3>
          </div>
		  <div class="card-actions">
            <a href="romanenko">Справка</a>       
          </div>
        </div>
      </div>            
      
	  <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/64.jpg" />
          </div>
          <div class="card-content">
            <h3>Свидзинский Владимир Ефимович</h3>
          </div>
		  <div class="card-actions">
            <a href="svidzinsky">Справка</a>       
          </div>
        </div>
      </div>
      
            <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/25.jpg" />
          </div>
          <div class="card-content">
            <h3>Сокольский Амброзий Иванович</h3>
          </div>
		  <div class="card-actions">
            <a href="sokolsky">Справка</a>       
          </div>
        </div>
      </div>          
      
	  <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/63.png" />
          </div>
          <div class="card-content">
            <h3>Тимофеев Алексей Григорьевич</h3>
          </div>
		  <div class="card-actions">
            <a href="timofeev">Справка</a>       
          </div>
        </div>
      </div>
      
            <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/tretyak1.jpg" />
          </div>
          <div class="card-content">
            <h3>Третьяк Андрей Васильевич</h3>
          </div>
		  <div class="card-actions">
            <a href="tretyak">Справка</a>       
          </div>
        </div>
      </div>          
      
            <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/25.jpg" />
          </div>
          <div class="card-content">
            <h3>Холодняк Анна Трофимовна</h3>
          </div>
		  <div class="card-actions">
            <a href="kholodnyak">Справка</a>       
          </div>
        </div>
      </div>          
      
            <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/25.jpg" />
          </div>
          <div class="card-content">
            <h3>Шульц Терезия-Густава Робертовна</h3>
          </div>
		  <div class="card-actions">
            <a href="schulz">Справка</a>       
          </div>
        </div>
      </div>          
      
      <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/59.jpg" />
          </div>
          <div class="card-content">
            <h3>Эбергард Наталья Петровна</h3>
          </div>
		  <div class="card-actions">
            <a href="ebergard">Справка</a>       
          </div>
        </div>
      </div>        
    </div>
  </div>
</section>
