<section class="section group">
  <div class="card-container card-group">
    <div class="card-container-body"> 
      <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/17.jpg" />
          </div>
          <div class="card-content">
            <h3>Валуйские события 1905 года</h3>
          </div>
		  <div class="card-actions">
            <a href="sobytia">Читать</a>       
          </div>
        </div>
      </div>
	  <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/16.png" />
          </div>
          <div class="card-content">
            <h3>Записки В. Г. Чубинского</h3>
          </div>
		  <div class="card-actions">
            <a href="zapiski">Читать</a>       
          </div>
        </div>
      </div>
	  <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/32.jpg" />
          </div>
          <div class="card-content">
            <h3>Ссылка Марцина Залеского</h3>
          </div>
		  <div class="card-actions">
            <a href="marcin">Читать</a>       
          </div>
        </div>
      </div>
	  <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/18.jpg" />
          </div>
          <div class="card-content">
            <h3>Из воспоминаний старожила</h3>
          </div>
		  <div class="card-actions">
            <a href="/docs/papers/yug1/">Читать</a>       
          </div>
        </div>
      </div>
    </div>
  </div>
</section>