<section class="section columns">
  <div class="card-container card-columns">
    <div class="card-container-body"> 
      <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/67.jpg" />
          </div>
          <div class="card-content">
            <h3>Григорий Дахно</h3>
          </div>
		  <div class="card-actions">
            <a href="dakhno">Читать</a>       
          </div>
        </div>
      </div>    
       <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/41.png" />
          </div>
          <div class="card-content">
            <h3>Иван Зубенко</h3>
          </div>
		  <div class="card-actions">
            <a href="zubenko">Читать</a>       
          </div>
        </div>
      </div>    
      <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/31.jpg" />
          </div>
          <div class="card-content">
            <h3>Петр Ольшанский</h3>
          </div>
		  <div class="card-actions">
            <a href="olshansky">Читать</a>       
          </div>
        </div>
      </div>  
    </div>
  </div>
</section>
