<section class="section columns">
  <div class="card-container card-columns">
    <div class="card-container-body">
      <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/ukraine/slobozhanschina.jpg" />
          </div>
          <div class="card-content">
            <h3>Східна Слобожанщина. Втрачена Україна</h3>
          </div>
      <div class="card-actions">
            <a href="film">Читать</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/kuren.png" />
          </div>
          <div class="card-content">
            <h3>Валуйский гайдамацкий курень</h3>
          </div>
		  <div class="card-actions">
            <a href="kuren">Читать</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/68.jpg" />
          </div>
          <div class="card-content">
            <h3>Имена национально-освободительного движения</h3>
          </div>
		  <div class="card-actions">
            <a href="imena">Читать</a>
          </div>
        </div>
      </div>
          <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/65.jpg" />
          </div>
          <div class="card-content">
            <h3>Письмо украинцев Уразово</h3>
          </div>
		  <div class="card-actions">
            <a href="urasowoletter">Читать</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/57.jpg" />
          </div>
          <div class="card-content">
            <h3>Записка Блинова, Милькевича и Голостенова</h3>
          </div>
		  <div class="card-actions">
            <a href="zapiska">Читать</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/58.jpg" />
          </div>
          <div class="card-content">
            <h3>Иконы Слободской Украины</h3>
          </div>
		  <div class="card-actions">
            <a href="icons">Читать</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/ukraine/iskorki/iskorki.jpg" />
          </div>
          <div class="card-content">
            <h3>Збірочка поезій «Искорки»</h3>
          </div>
		  <div class="card-actions">
            <a href="iskorki">Читать</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/ukraine/haty.jpg" />
          </div>
          <div class="card-content">
            <h3>Еще несколько хат</h3>
          </div>
		  <div class="card-actions">
            <a href="hata28viii21">Читать</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/52.jpg" />
          </div>
          <div class="card-content">
            <h3>Спектакль 1950-х годов</h3>
          </div>
		  <div class="card-actions">
            <a href="roscha">Читать</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/ukraine/ulitsa1.jpg" />
          </div>
          <div class="card-content">
            <h3>Сборы сельской молодежи на Украине</h3>
          </div>
		  <div class="card-actions">
            <a href="zbirki">Читать</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/ukraine/prikaz1.jpg" />
          </div>
          <div class="card-content">
            <h3>Переходи на украинский</h3>
          </div>
		  <div class="card-actions">
            <a href="mova">Читать</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/49.jpg" />
          </div>
          <div class="card-content">
            <h3>Хата в Казачьей слободе</h3>
          </div>
		  <div class="card-actions">
            <a href="sloboda">Читать</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/45.jpg" />
          </div>
          <div class="card-content">
            <h3>Украинское слово в имении Паниной</h3>
          </div>
		  <div class="card-actions">
            <a href="/docs/papers/rada4">Читать</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/48.jpg" />
          </div>
          <div class="card-content">
            <h3>Хата в Уразово</h3>
          </div>
		  <div class="card-actions">
            <a href="hataurazowo">Читать</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/ukraine/ukrvopros1.jpg" />
          </div>
          <div class="card-content">
            <h3>Валуйский уезд и украинский вопрос</h3>
          </div>
		  <div class="card-actions">
            <a href="ukrvopros">Читать</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/38.png" />
          </div>
          <div class="card-content">
            <h3>Пропуск 1918 года с печатью Валуйского повита</h3>
          </div>
		  <div class="card-actions">
            <a href="propusk">Читать</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/ukraine/pisanki.jpg" />
          </div>
          <div class="card-content">
            <h3>Як писали писанки на межі України</h3>
          </div>
		  <div class="card-actions">
            <a href="pisanki">Читать</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/ukraine/simyantsev1.jpg" />
          </div>
          <div class="card-content">
            <h3>Из воспоминаний Валентина Симянцева</h3>
          </div>
		  <div class="card-actions">
            <a href="simyantsev">Читать</a>
          </div>
        </div>
      </div>
	  <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/34.jpg" />
          </div>
          <div class="card-content">
            <h3>Документы валуйского украинского пограничного пункта</h3>
          </div>
		  <div class="card-actions">
            <a href="granitsa">Читать</a>
          </div>
        </div>
      </div>
	  <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/36.jpg" />
          </div>
          <div class="card-content">
            <h3>О передаче Валуйского уезда УССР</h3>
          </div>
		  <div class="card-actions">
            <a href="doklad">Читать</a>
          </div>
        </div>
      </div>
	  <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/6.jpg" />
          </div>
          <div class="card-content">
            <h3>Гимназия в Уразово</h3>
          </div>
		  <div class="card-actions">
            <a href="/docs/papers/sv1">Читать</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/postanova1.jpg" />
          </div>
          <div class="card-content">
            <h3>Постановление Съезда украинцев Валуйского уезда</h3>
          </div>
		  <div class="card-actions">
            <a href="postanova">Читать</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/14.jpg" />
          </div>
          <div class="card-content">
            <h3>Хата в Валуйках</h3>
          </div>
		  <div class="card-actions">
            <a href="hatavaluyki">Читать</a>
          </div>
        </div>
      </div>
	  <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/ukraine/leptshenko3.jpg" />
          </div>
          <div class="card-content">
            <h3>Яков Лепченко о присоединении к Украине</h3>
          </div>
		  <div class="card-actions">
            <a href="leptshenko">Читать</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/13.jpg" />
          </div>
          <div class="card-content">
            <h3>Антидемократический указ коммунистов</h3>
          </div>
		  <div class="card-actions">
            <a href="ukaz">Читать</a>
          </div>
        </div>
      </div>
	  <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/2.jpg" />
          </div>
          <div class="card-content">
            <h3>Из писем Акима Ермолаева</h3>
          </div>
		  <div class="card-actions">
            <a href="ermolaev">Читать</a>
          </div>
        </div>
      </div>
	  <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/4.jpg" />
          </div>
          <div class="card-content">
            <h3>Открытое письмо граждан слободы Вейделевки</h3>
          </div>
		  <div class="card-actions">
            <a href="pismo">Читать</a>
          </div>
        </div>
      </div>
	  <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/ukraine/samoilenko1.jpg" />
          </div>
          <div class="card-content">
            <h3>Из воспоминаний Степана Самийленко</h3>
          </div>
		  <div class="card-actions">
            <a href="samoilenko">Читать</a>
          </div>
        </div>
      </div>
	  <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/8.jpg" />
          </div>
          <div class="card-content">
            <h3>Украинские спектакли</h3>
          </div>
		  <div class="card-actions">
            <a href="/docs/papers/rada2">Читать</a>
          </div>
        </div>
      </div>
	  <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/9.jpg" />
          </div>
          <div class="card-content">
            <h3>Учительский съезд</h3>
          </div>
		  <div class="card-actions">
            <a href="/docs/papers/rada3">Читать</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/ukraine/spogadi1.jpg" />
          </div>
          <div class="card-content">
            <h3>Из воспоминаний Бориса Монкевича</h3>
          </div>
		  <div class="card-actions">
            <a href="spogadi">Читать</a>
          </div>
        </div>
      </div>
	  <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/arch/temple.jpg" />
          </div>
          <div class="card-content">
            <h3>Церковь в стиле украинского барокко</h3>
          </div>
		  <div class="card-actions">
            <a href="ukrtemple">Читать</a>
          </div>
        </div>
      </div>
	  <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/11.jpg" />
          </div>
          <div class="card-content">
            <h3>Этнографические данные</h3>
          </div>
		  <div class="card-actions">
            <a href="etn">Читать</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/12.jpg" />
          </div>
          <div class="card-content">
            <h3>О выборах в Украинское Учредительное Собрание</h3>
          </div>
		  <div class="card-actions">
            <a href="/docs/papers/ngz10">Читать</a>
          </div>
        </div>
      </div>
	  <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/7.jpg" />
          </div>
          <div class="card-content">
            <h3>Хата в Старом Хуторе</h3>
          </div>
		  <div class="card-actions">
            <a href="sthutor">Читать</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/46.jpg" />
          </div>
          <div class="card-content">
            <h3>Украинизация школ на Воронежчине</h3>
          </div>
		  <div class="card-actions">
            <a href="/docs/papers/sv2">Читать</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
