<script> 
window.playerpodigee = 
    {
  "options": {
       "theme": {
      "html": "https://cdn.podigee.com/podcast-player/themes/default/index.html",
      "css": "https://waluiki.ru/audioplayer/theme/waluiki.css"
    },
    "startPanels": ["Transcript"]
  },
  "extensions": {
    "Transcript": {"showOnStart": true},
  },
  "episode": {
    "media": {"mp3": "https://waluiki.ru/docs/topography/yablonovo/yablonovo3.mp3"},
    "coverUrl": "https://waluiki.ru/docs/topography/yablonovo/yablonovo1.png",
    "title": "О послевоенном голоде",
    "subtitle": "Воспоминания Андрея Тимофеевича Емельянова",
    "transcript": "https://waluiki.ru/docs/topography/yablonovo/yablonovo3.vtt"
  }
}
</script>

<script class="podigee-podcast-player" src="https://cdn.podigee.com/podcast-player/javascripts/podigee-podcast-player.js" data-configuration="playerpodigee"></script>