<section class="section group">
  <div class="card-container card-group">
    <div class="card-container-body"> 
	  <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/20.jpg" />
          </div>
          <div class="card-content">
            <h3>Из журналов Земского собрания за 1907 год</h3>
          </div>
		  <div class="card-actions">
            <a href="uezd1907">Читать</a>       
          </div>
        </div>
      </div>
	  <div class="card">
        <div class="card-front" data-image-position="top">
          <div class="card-image card-image-top">
            <img src="/static/img/cards/33.jpg" />
          </div>
          <div class="card-content">
            <h3>Журналы Земского собрания за 1914 год</h3>
          </div>
		  <div class="card-actions">
            <a href="uezd1914">Читать</a>       
          </div>
        </div>
      </div>
    </div>
  </div>
</section>